/* ===============================
   Custom Override (Light & Dark)
   背景色 & visited link
=================================== */

/* ▼ Light mode */
html[data-theme="light"],
:root {
  --bg-color: #fdfdfd;                   /* 背景色 */
  --link-visited-color: #aa0000;         /* 既クリックリンク */
  background-color: var(--bg-color);
}

html[data-theme="light"] a:visited {
  color: #00ff00 !important;
  fill: #00ff00 !important;
  stroke: #00ff00 !important;
}


html[data-theme="light"] body {
  background-color: var(--bg-color);
}
html[data-theme="light"] a:visited {
  color: var(--link-visited-color) !important;
}


/* ▼ Dark mode */
html[data-theme="dark"] {
  --bg-color: #0f0f0f;                   /* 背景色 */
  --link-visited-color: #55939f;         /* 既クリックリンク */
  background-color: var(--bg-color);
}

html[data-theme="dark"] body {
  background-color: var(--bg-color);
}

html[data-theme="dark"] a:visited {
  color: var(--link-visited-color);
}
