/* ===============================
   Custom Override (Light & Dark)
   背景色 & visited link
=================================== */

/* ▼ Light mode */
html[data-theme="light"],
:root {
  --bg-color: #fdfdfd;                   /* 背景色 */
  --accent-color: #aa0000;         /* 既クリックリンク */
  background-color: var(--bg-color);
}



html[data-theme="light"] body {
  background-color: var(--bg-color);
  height: 100%;
}



/* ▼ Dark mode */
html[data-theme="dark"] {
  --bg-color: #0f0f0f;                   /* 背景色 */
  --link-visited-color: #55939f;         /* 既クリックリンク */
  background-color: var(--bg-color);
}

html[data-theme="dark"] body {
  background-color: var(--bg-color);
}
